/* .image-container {
    overflow: auto;
}
  
img {
    float: left;
    margin-right: 20px;
}

ion-text h1 {
    font-size: 15px;
    float: center;
    color: rgb(255, 255, 255);
}

ion-text h4 {
    font-size: 20px;
    float: left;
    color: rgb(255, 255, 255);
}

ion-text h3 {
    font-size: 20px;
    float: center;
    color: rgb(255, 255, 255);
}

ion-text h2 {
    font-size: 20px;
    float: center;
    color: rgb(255, 255, 255);
} */
