.image-container {
    overflow: auto;
}
  
img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 10px;
}

ion-text {
    width: 90px;
    margin-top: -35px;
    margin-left: 150px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
}
